<!-- Sample launch file for using multiple RealSense R200 cameras -->
<launch>
  <arg name="camera1"              default="camera1" />
  <arg name="camera1_camera_type"  default="SR300"    /> <!-- Type of camera -->
  <arg name="camera1_serial_no"    default="612201006637"        /> <!-- Note: Replace with actual serial number -->
  <arg name="camera1_usb_port_id"  default=""        /> <!-- USB "Bus#-Port#" -->
  <arg name="camera2"              default="camera2" />
  <arg name="camera2_camera_type"  default="SR300"    /> <!-- Type of camera -->
  <arg name="camera2_serial_no"    default="612201003694"        /> <!-- Note: Replace with actual serial number -->
  <arg name="camera2_usb_port_id"  default=""        /> <!-- USB "Bus#-Port#" -->
  <arg name="camera3"              default="camera3" />
  <arg name="camera3_camera_type"  default="SR300"    /> <!-- Type of camera -->
  <arg name="camera3_serial_no"    default="612201005369"        /> <!-- Note: Replace with actual serial number -->
  <arg name="camera3_usb_port_id"  default=""        /> <!-- USB "Bus#-Port#" -->
  
  <arg name="manager" value="camera_nodelet_manager" /> <!-- Single nodelet manager for all cameras -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <!-- Best know configuration for generating depth registered point cloud. -->
  <arg name="mode"            default="manual" />
  <arg name="color_width"     default="320" />
  <arg name="color_height"    default="180" />
  <arg name="depth_width"     default="640" />
  <arg name="depth_height"    default="240" />
  <arg name="depth_fps"       default="10" />
  <arg name="color_fps"       default="10" />

  <!-- Arguments for remapping all device namespaces -->
  <arg name="depth"            default="depth" />
  <arg name="rgb"              default="rgb" />
  <arg name="ir"               default="ir" />
  <arg name="depth_registered" default="depth_registered" />

  <!-- Processing Modules -->
  <arg name="rgb_processing"                  default="false"/>
  <arg name="ir_processing"                   default="false"/>
  <arg name="depth_processing"                default="true"/>
  <arg name="depth_registered_processing"     default="false"/>
  <arg name="disparity_processing"            default="false"/>
  <arg name="disparity_registered_processing" default="false"/>
  <arg name="hw_registered_processing"        default="false" />
  <arg name="sw_registered_processing"        default="true" />

  <arg name="enable_color"					  default="false" />
  <arg name="enable_pointcloud"				  default="false" />
  <arg name="enable_ir"						  default="false" />
  <arg name="enable_ir2"						  default="false" />

  <!-- Disable respawn topics by default -->
  <arg name="respawn" default="false" />

  <!-- Worker threads for the nodelet manager -->
  <arg name="num_worker_threads" default="1" />

  <!-- User must include the .xml file for each camera with unique values for "camera" and 
       either the "serial_no" or "usb_port_id" of the camera.
       "camera" should be a user friendly string that follows the ROS Names convention. -->
  <group ns="$(arg camera1)">
    <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera1)" />
      <arg name="camera_type"  value="$(arg camera1_camera_type)" />
      <arg name="serial_no"    value="$(arg camera1_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera1_usb_port_id)" />
		
      <arg name="mode"                      value="$(arg mode)" />
      <arg name="depth_width"               value="$(arg depth_width)" />
      <arg name="depth_height"              value="$(arg depth_height)" />
      <arg name="color_width"               value="$(arg color_width)" />
      <arg name="color_height"              value="$(arg color_height)" />
      <arg name="depth_fps"                 value="$(arg depth_fps)" />
      <arg name="color_fps"                 value="$(arg color_fps)" />
	  <arg name="enable_color"				value="$(arg enable_color)" />
	  <arg name="enable_pointcloud"			value="$(arg enable_pointcloud)" />
	  <arg name="enable_ir"					value="$(arg enable_ir)" />
	  <arg name="enable_ir2"					value="$(arg enable_ir2)" />
    </include>

	<!-- Load standard constellation of processing nodelets -->
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager"                         value="$(arg manager)" />
      <arg name="rgb"                             value="$(arg rgb)" />
      <arg name="ir"                              value="$(arg ir)" />
      <arg name="depth"                           value="$(arg depth)" />
      <arg name="depth_registered"                value="$(arg depth_registered)" />
      <arg name="respawn"                         value="$(arg respawn)" />
      <arg name="rgb_processing"                  value="$(arg rgb_processing)" />
      <arg name="ir_processing"                   value="$(arg ir_processing)" />
      <arg name="depth_processing"                value="$(arg depth_processing)" />
      <arg name="depth_registered_processing"     value="$(arg depth_registered_processing)" />
      <arg name="disparity_processing"            value="$(arg disparity_processing)" />
      <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />
      <arg name="hw_registered_processing"        value="$(arg hw_registered_processing)" />
      <arg name="sw_registered_processing"        value="$(arg sw_registered_processing)" />
    </include>
  </group> 

  <group ns="$(arg camera2)">
    <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera2)" />
      <arg name="camera_type"  value="$(arg camera2_camera_type)" />
      <arg name="serial_no"    value="$(arg camera2_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera2_usb_port_id)" />

      <arg name="mode"                      value="$(arg mode)" />
      <arg name="depth_width"               value="$(arg depth_width)" />
      <arg name="depth_height"              value="$(arg depth_height)" />
      <arg name="color_width"               value="$(arg color_width)" />
      <arg name="color_height"              value="$(arg color_height)" />
      <arg name="depth_fps"                 value="$(arg depth_fps)" />
      <arg name="color_fps"                 value="$(arg color_fps)" />
	  <arg name="enable_color"				value="$(arg enable_color)" />
	  <arg name="enable_pointcloud"			value="$(arg enable_pointcloud)" />
	  <arg name="enable_ir"					value="$(arg enable_ir)" />
	  <arg name="enable_ir2"					value="$(arg enable_ir2)" />
    </include>

	<!-- Load standard constellation of processing nodelets -->
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager"                         value="$(arg manager)" />
      <arg name="rgb"                             value="$(arg rgb)" />
      <arg name="ir"                              value="$(arg ir)" />
      <arg name="depth"                           value="$(arg depth)" />
      <arg name="depth_registered"                value="$(arg depth_registered)" />
      <arg name="respawn"                         value="$(arg respawn)" />
      <arg name="rgb_processing"                  value="$(arg rgb_processing)" />
      <arg name="ir_processing"                   value="$(arg ir_processing)" />
      <arg name="depth_processing"                value="$(arg depth_processing)" />
      <arg name="depth_registered_processing"     value="$(arg depth_registered_processing)" />
      <arg name="disparity_processing"            value="$(arg disparity_processing)" />
      <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />
      <arg name="hw_registered_processing"        value="$(arg hw_registered_processing)" />
      <arg name="sw_registered_processing"        value="$(arg sw_registered_processing)" />
    </include>
  </group>

  <group ns="$(arg camera3)">
    <include file="$(find realsense_camera)/launch/includes/nodelet_rgbd.launch.xml">
      <arg name="manager"      value="/$(arg manager)" />
      <arg name="camera"       value="$(arg camera3)" />
      <arg name="camera_type"  value="$(arg camera3_camera_type)" />
      <arg name="serial_no"    value="$(arg camera3_serial_no)" />
      <arg name="usb_port_id"  value="$(arg camera3_usb_port_id)" />

      <arg name="mode"                      value="$(arg mode)" />
      <arg name="depth_width"               value="$(arg depth_width)" />
      <arg name="depth_height"              value="$(arg depth_height)" />
      <arg name="color_width"               value="$(arg color_width)" />
      <arg name="color_height"              value="$(arg color_height)" />
      <arg name="depth_fps"                 value="$(arg depth_fps)" />
      <arg name="color_fps"                 value="$(arg color_fps)" />
	  <arg name="enable_color"				value="$(arg enable_color)" />
	  <arg name="enable_pointcloud"			value="$(arg enable_pointcloud)" />
	  <arg name="enable_ir"					value="$(arg enable_ir)" />
	  <arg name="enable_ir2"					value="$(arg enable_ir2)" />
    </include>

	<!-- Load standard constellation of processing nodelets -->
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="manager"                         value="$(arg manager)" />
      <arg name="rgb"                             value="$(arg rgb)" />
      <arg name="ir"                              value="$(arg ir)" />
      <arg name="depth"                           value="$(arg depth)" />
      <arg name="depth_registered"                value="$(arg depth_registered)" />
      <arg name="respawn"                         value="$(arg respawn)" />
      <arg name="rgb_processing"                  value="$(arg rgb_processing)" />
      <arg name="ir_processing"                   value="$(arg ir_processing)" />
      <arg name="depth_processing"                value="$(arg depth_processing)" />
      <arg name="depth_registered_processing"     value="$(arg depth_registered_processing)" />
      <arg name="disparity_processing"            value="$(arg disparity_processing)" />
      <arg name="disparity_registered_processing" value="$(arg disparity_registered_processing)" />
      <arg name="hw_registered_processing"        value="$(arg hw_registered_processing)" />
      <arg name="sw_registered_processing"        value="$(arg sw_registered_processing)" />
    </include>
  </group>
</launch>
