<launch>
  	<!-- export ROS_MASTER_URI=http://192.168.1.206:11311 -->

	<include file="$(find expoert_system/launch/stereo_cameras.launch" />

	<!-- Odometry -->
	<include file="$(find odometry)/launch/odometry.launch"/>
	
	<node name="laser_broadcaster" pkg="localization" type="laser_broadcaster.py" />
	<node name="robot_broadcaster" pkg="localization" type="robot_broadcaster.py" />
	<node name="localization" pkg="localization" type="localization" output="screen"/>
	
	<!-- Laser scanner -->
	<include file="$(find wheels)/launch/rplidar.launch"/>
	
	<!-- Wheel Controller -->
	<include file="$(find wheels)/launch/controller.launch"/>

	<!-- Planner -->
	<node name="planner_backend" pkg="planner" type="planner_server.py" output="screen"/>
	<node name="planner_executor" pkg="planner" type="path_executor" output="screen"/>

	<!-- UArm -->
	<include file="$(find uarm)/launch/kth_uarm.launch" />
	<node name="arm_broadcaster" pkg="manipulation" type="arm_broadcaster.py" />
	<node name="manipulation_server" pkg="manipulation" type="manipulate_service.py" />
	

	<!-- Speaker node -->
	<node name="speaker" pkg="ras_espeak" type="espeak_node"/>
	
	<!-- IMU -->
	<!--include file="$(find phidgets_imu)/launch/imu.launch"/-->

	<!-- Vision -->
	<!--include file="$(find classifier)/launch/classifier.launch" /-->

        <!-- Booby trap detection -->
        <include file="$(find qrcode_detection)/launch/qr.launch"/>    
        <node name="camera_broadcaster" pkg="qrcode_detection" type="camera_broadcaster.py" />

</launch>
