<launch>
  <group ns="stereo">
	  <node pkg="uvc_camera" type="uvc_stereo_node" name="uvc_camera_stereo">
	    <param name="width" type="int" value="320" />
	    <param name="height" type="int" value="240" />
	    <param name="fps" type="int" value="30" />
	    <param name="skip_frames" type="int" value="0" />
	    <param name="frame" type="string" value="wide_stereo" />

	    <param name="auto_focus" type="bool" value="False" />
	    <param name="focus_absolute" type="int" value="0" />
	    <param name="auto_exposure" type="bool" value="True" />
	    <!-- other supported params: auto_exposure, exposure_absolute, brightness, power_line_frequency -->

	    <param name="left/device" type="string" value="/dev/video0" />
	    <param name="right/device" type="string" value="/dev/video2" />
	    <param name="left/camera_info_url" type="string" value="file://$(find expert_system)/config/stereo_cameras/stereo_1/left.yaml" />
	    <param name="right/camera_info_url" type="string" value="file://$(find expert_system)/config/stereo_cameras/stereo_1/right.yaml" />
	  </node>
  </group>
</launch>
