<launch>
	<arg name="js" default="0" />


    <include file="$(find control)/launch/control.launch" />
    
    <include file="$(find controller)/launch/controller.launch">
        <arg name="js" value="$(arg js)" />
    </include>
    
    <include file="$(find camera)/launch/nodelet_stereo_all.launch" />
    
    <include file="$(find sensor_readings)/launch/sensor_readings.launch" />
    
    <include file="$(find interface_map)/launch/interface_map.launch" /> 
    
</launch>
