<launch>
	<machine name="external" address="ras16" env-loader="/opt/ros/indigo/env.sh" user="ras16" password="ras" />

	<machine name="onboard" address="ras26" env-loader="/opt/ros/indigo/env.sh" user="ras26" password="ras" default="true" />

  	<!-- export ROS_MASTER_URI=http://192.168.1.206:11311 -->

	<rosparam file="$(find general)/config/general_params.yaml" command="load" />
	
	<!-- Left Motor -->
	<node machine="onboard" name="left_motor" pkg="phidgets" type="motor" args="_serial:=473027 __name:=left_motor _name:=left_motor _frequency:=125" >
		<param name="_serial" value="473027" />
		<param name="__name" value="left_motor" />
		<param name="_name" value="left_motor" />
		<param name="_frequency" value="125" />
	</node>

	<!-- Right Motor -->
	<node machine="onboard" name="right_motor" pkg="phidgets" type="motor" args="_serial:=475396 __name:=right_motor _name:=right_motor _frequency:=125" >
		<param name="_serial" value="475396" />
		<param name="__name" value="right_motor" />
		<param name="_name" value="right_motor" />
		<param name="_frequency" value="125" />
	</node>

	<!-- Localization -->
	<node machine="onboard" name="localization" pkg="localization" type="localization.py" />

	<!-- Odometry -->
	<node machine="onboard" name="odometry" pkg="odometry" type="odometry" />

	<node machine="onboard" name="laser_broadcaster" pkg="localization" type="laser_broadcaster.py" />
	<node machine="onboard" name="robot_broadcaster" pkg="localization" type="robot_broadcaster.py" />

	<!-- Laser scanner -->
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>

	<!-- Keyop -->
	<include file="$(find keyop)/launch/keyop.launch"/>

	<!-- Key Controller -->
	<include file="$(find key_controller)/launch/key_controller.launch"/>
	
</launch>
