<launch>
	<arg name="js" default="1" />

	<include file="$(find controller)/launch/controller.launch" >
		<arg name="js" value="$(arg js)" />
	</include>
	
	<include file="$(find control)/launch/control.launch" />	   
	
	<node name="laser_scan_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /drone /laser 100" />
	
	<include file="$(find interface_image_view)/launch/interface_image_view.launch" />
	
	<include file="$(find interface_map)/launch/interface_map.launch" /> 
	
	<include file="$(find interface_compass)/launch/interface_compass.launch" />

	<include file="$(find sensor_readings)/launch/sensor_readings.launch" />
	   
</launch>
